<h1>Editing faculty</h1>

<% form_for(@faculty) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @faculty %> |
<%= link_to 'Back', faculties_path %>
