<% form_for(@faculty) do |f| %>

  <fieldset>
    <h1>Editing faculty of <%=h @faculty.longname %></h1>
    <%= f.error_messages %>

   <table>
      <% for item in
        [
          [f.label(:shortname),   f.text_field(:shortname), 'required, short identifier to save space, only used internally'],
          [f.label(:longname),    f.text_field(:longname),  'required, should be the full official name']
        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <th><%= item.shift %></th>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>


    <p>
      <%= f.submit "Update faculty", :disable_with => "Saving&hellip;" %>
      <%= link_to 'Cancel', faculties_path %>
    </p>
  </fieldset>
<% end %>
