<fieldset>
  <h1>Listing faculties</h1>
  <%= link_to 'New faculty', new_faculty_path %> <br/><br/>


  <table>
    <tr>
      <th>Short</th>
      <th>Longname</th>
      <th colspan="3">Destroy?</th>
    </tr>
  <% for faculty in @faculties.sort { |x,y| x.shortname <=> y.shortname } %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%= link_to faculty.shortname, edit_faculty_path(faculty) %></td>
      <td><%= link_to faculty.longname,  edit_faculty_path(faculty) %></td>
      <td>
        <% if faculty.critical? %>
          Has associated courses. Cannot destroy.
        <% else %>
          <%= link_to 'Destroy', faculty, :confirm => "Do you really want to DESTROY the faculty of #{faculty.longname}?", :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

</fieldset>
