<% form_for(@semester) do |f| %>

<fieldset>
  <h1>Editing semester <%=h @semester.title %></h1>
  <%= error_messages_for :semester %>

    <table>
      <% for item in
        [
          ["Firstday",                      f.date_select(:firstday), "required"],
          ["Lastday",                       f.date_select(:lastday),  "required"],
          [f.label(:title),                 f.text_field(:title),     "required"],
          [f.label(:critical, "Critical?"), f.check_box(:critical) + f.label(:critical, "the semester is critical")]

        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>

  <p>
    <%= f.submit "Update semester" %>
    <%= link_to 'Cancel', semesters_path %>
  </p>
<% end %>

</fieldset>


