<h1>Editing semester</h1>

<%= error_messages_for :semester %>

<% form_for(@semester) do |f| %>
  <p>
    <b>Firstday</b><br />
    <%= f.date_select :firstday %>
  </p>

  <p>
    <b>Lastday</b><br />
    <%= f.date_select :lastday %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Currently in critical phase?</b><br />
    <%= f.check_box :critical %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show this semester', @semester %> |
<%= link_to 'return to semester list', semesters_path %>
