<div class="group">
  <h2>Editing <%=Semester.model_name.human%> <%=h @semester.title %></h2>
  <%= render "form" %>
</div>


<div>
  <h3>rake Actions</h3>
  <pre>
# Generate forms:
rake forms:generate[<%=@semester.id%>]

# Generate result PDFs for each faculty:
<% @semester.faculties.each do |f| %>
rake results:pdf_report["en", <%=@semester.id%>, <%=f.id%>]
<% end %>

# Alternatively, generate result PDFs for each course:
<% @semester.faculties.each do |f| %>
rake results:pdf_singles[<%=@semester.id%>, <%=f.id%>]
<% end %></pre>
</div>
