<div class="group">
  <h2>Available Terms</h2>
  <%= link_to 'Create new term', new_semester_path, :class => "button" %>
  <br />
  <br />
  <%=render "shared/tablemagic"%>
  <table id="tablemagic" style="min-width:55em">
    <thead>
      <tr>
        <th>Firstday</th>
        <th>Lastday</th>
        <th>Title</th>
        <th>Longtitle</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% for semester in @semesters %>
      <tr>
        <td><%=h semester.firstday %></td>
        <td><%=h semester.lastday %></td>
        <td><%=h semester.title %></td>
        <td><%=h semester.longtitle %></td>
        <td><%= link_to "Edit #{semester.title}", edit_semester_path(semester) %></td>
        <td><%= semester.critical ? "Critical" : (link_to 'Destroy', semester, :confirm => 'Are you sure?', :method => :delete) %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>


