<fieldset>
  <h1>Listing semesters</h1>
  <%= link_to 'New semester', new_semester_path %>
<br />
<br />
<table>
  <tr>
    <th>Firstday</th>
    <th>Lastday</th>
    <th>Title</th>
  </tr>

<% for semester in @semesters %>
  <tr style="background: #<%= cycle('efefef', 'fff') %>">
    <td><%=h semester.firstday %></td>
    <td><%=h semester.lastday %></td>
    <td><%=h semester.title %></td>
    <td><%= link_to "Edit #{semester.title}", edit_semester_path(semester) %></td>
    <td><%= semester.critical ? "Critical" : (link_to 'Destroy', semester, :confirm => 'Are you sure?', :method => :delete) %></td>

  </tr>
<% end %>
</table>
</fieldset>


