<p>
  <b>Firstday:</b>
  <%=h @semester.firstday %>
</p>

<p>
  <b>Lastday:</b>
  <%=h @semester.lastday %>
</p>

<p>
  <b>Title:</b>
  <%=h @semester.title %>
</p>

<p>
  <%= @semester.critical ? "Semester is critical" : "Semester is <b>not</b> critical" %>
</p>


<%= link_to 'Edit this Semester', edit_semester_path(@semester) %> |
<%= link_to 'Return to semester list', semesters_path %>
