<% @curr_term ||= get_selected_terms %>
<!DOCTYPE html>
<html>
<head>
  <title><%=APP_NAME%> // <%=controller.human_name.pluralize %> // <%= controller.action_name.humanize %> <%= yield(:title) %></title>
  <% if yield(:enable_small_screen).include?("true") %>
    <%= stylesheet_link_tag    "application", :media => "all and (min-width: 501px)" %>
    <%= stylesheet_link_tag    "small_screen", :media => "screen and (max-width: 500px)" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% else %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:script) %>
  <% unless yield(:css).blank? %><style><%= yield(:css) %></style><% end %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="<%=ENV['RAILS_RELATIVE_URL_ROOT'] || "" %>/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div>
    <div class="infobox rd-hide">
      <% if @curr_term.blank? %>
        <span class="warning">No active terms. Change the dates or <%= link_to "create a new one", new_term_path %>.</span>
      <% else %>
        <b>active term</b><br/><%=@curr_term.map { |c| c.title }.join(", ") %><br/>
      <% end %>

      <% if @course && @course.term && @course.term.critical? %>
        <span class="warning">Sheets have been printed for this course. Destroy them all before changing anything.</span>
      <% end %>

      <% if (@course.nil? || @course.term.nil?) && @curr_term.any? { |c| c.critical? } %>
        <span class="warning">Careful, current term is critical.</span>
      <% end %>
    </div>

    <h1><%=controller.human_name.pluralize%> // <%= params[:action].humanize %> <%=yield(:title) %></h1>
    <nav class="button-group">
      <%= link_to 'Courses',    courses_path,   :class => "button big" %>
      <%= link_to 'Professors', profs_path,     :class => "button big" %>
      <%= link_to 'Terms',      terms_path,     :class => "button big" %>
      <%= link_to 'Forms',      forms_path,     :class => "button big" %>
      <%= link_to 'Faculties',  faculties_path, :class => "button big" %>
      <%= link_to 'Tutors',     tutors_path,    :class => "button big" %>
      <%= link_to 'Hitmes',     hitme_path,     :class => "button big" %>
    </nav>
  </div>

  <% if flash.any? %>
    <div>
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
      <% end %>
    </div>
  <% end %>

<%= yield %>
  <% if ["edit", "assign_work"].include?(controller.action_name) %><%=render "shared/collision_detection"%><% end %>
</body>
</html>
