<% @curr_sem ||= get_selected_semesters %>
<!DOCTYPE html>
<html>
<head>
  <title><%=APP_NAME%> // <%=controller.human_name.pluralize %> // <%= params[:action].humanize %> <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:script) %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <div>
    <div class="infobox">
      <% if @curr_sem.nil? %>
        <span class="warning">No active terms. Change the dates or create a new one.</span>
      <% end %>

      <% unless @curr_sem.nil? %>
        <b>active term</b><br/><%=@curr_sem.map { |c| c.title }.join(", ") %><br/>
      <% end %>

      <% if @course && @course.semester && @course.semester.critical? %>
        <span class="warning">Sheets have been printed for this course. Destroy them all before changing anything.</span>
      <% end %>

      <% if (@course.nil? || @course.semester.nil?) && @curr_sem.any? { |c| c.critical? } %>
        <span class="warning">Careful, current term is critical.</span>
      <% end %>
    </div>

    <h1><%=controller.human_name.pluralize%> // <%= params[:action].humanize %> <%=yield(:title) %></h1>
    <div class="button-group">
      <%= link_to 'Courses', 	  courses_path,   :class => "button big" %>
      <%= link_to 'Professors', profs_path,     :class => "button big" %>
      <%= link_to 'Terms',      semesters_path, :class => "button big" %>
      <%= link_to 'Forms', 		  forms_path,     :class => "button big" %>
      <%= link_to 'Faculties',  faculties_path, :class => "button big" %>
      <%= link_to 'Tutors', 		tutors_path,    :class => "button big" %>
    </div>
  </div>

  <% if flash.any? %>
    <div>
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
      <% end %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
