<% @curr_sem ||= get_selected_semesters %>
<!DOCTYPE html>
<html>
<head>
  <title><%=APP_NAME%> // <%=controller.human_name.pluralize %> // <%= params[:action].humanize %> <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:script) %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="<%=ENV['RAILS_RELATIVE_URL_ROOT'] || "" %>/favicon.ico" rel="icon" type="image/x-icon" />
  <% if controller.action_name == "edit" %><%=render "shared/collision_detection"%><% end %>
</head>
<body>
  <div id="darkened"></div>
  <% if controller.action_name == "edit" %>
    <noscript><div class="group warning">You have <b>disabled JavaScript</b>. You and others can’t be notified if they edit this page at the same time. This might lead to <b>collisions</b> as they are not handled in any way. User who hits the save button last wins.</div></noscript>

    <div id="collision-warning" class="warning hidden">This page is currently opened more than once. This might lead to your changes being overwritten. If you opened this window just now, please close it. Otherwise talk to each other and solve this.</div>
  <% end %>

  <div>
    <div class="infobox">
      <% if @curr_sem.nil? || @curr_sem.empty? %>
        <span class="warning">No active terms. Change the dates or <%= link_to "create a new one", new_semester_path %>.</span>
      <% else %>
        <b>active term</b><br/><%=@curr_sem.map { |c| c.title }.join(", ") %><br/>
      <% end %>

      <% if @course && @course.semester && @course.semester.critical? %>
        <span class="warning">Sheets have been printed for this course. Destroy them all before changing anything.</span>
      <% end %>

      <% if (@course.nil? || @course.semester.nil?) && @curr_sem.any? { |c| c.critical? } %>
        <span class="warning">Careful, current term is critical.</span>
      <% end %>
    </div>

    <h1><%=controller.human_name.pluralize%> // <%= params[:action].humanize %> <%=yield(:title) %></h1>
    <nav class="button-group">
      <%= link_to 'Courses', 	  courses_path,   :class => "button big" %>
      <%= link_to 'Professors', profs_path,     :class => "button big" %>
      <%= link_to 'Terms',      semesters_path, :class => "button big" %>
      <%= link_to 'Forms', 		  forms_path,     :class => "button big" %>
      <%= link_to 'Faculties',  faculties_path, :class => "button big" %>
      <%= link_to 'Tutors', 		tutors_path,    :class => "button big" %>
    </nav>
  </div>

  <% if flash.any? %>
    <div>
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
      <% end %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
