<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=APP_NAME%> // Courses // <%= controller.action_name.capitalize %><%= @course && @course.id ? %( // #{@course.semester.title} #{@course.title}): "" %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= yield(:script) %>
</head>
<body>

<% if flash[:notice] || flash[:error] %>
<fieldset>
  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red;font-weight:bold"><%= flash[:error] %></p>
</fieldset>
<% end %>

<%= yield  %>

</body>
</html>
