<% form_for(@form) do |f| %>
  <fieldset>
    <h1>Editing form <%=h @form.name + ' in ' + @form.semester.title %></h1>
    <%= f.error_messages %>

    <table class="large_text_area">
      <% for item in
        [
          [f.label(:semester_id),  collection_select(:form, :semester_id, Semester.find(:all), :id, :title, {:prompt => true}), "required"],
          [f.label(:name),      f.text_field(:name),     "required"],
          [f.label(:content),   f.text_area(:content),   "required"],

        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>


    <p>
      <%= f.submit "Update and Preview #{@form.name}", :disable_with => "Saving&hellip;" %>
      <%= link_to 'Cancel', forms_path %>
    </p>
  </fieldset>
<% end %>

<fieldset>
  <legend>Some helpful comments</legend>
  <ul>
    <li>To group questions correctly in the results they need to be prepended with the correct letters. <b>v</b> refers to questions that belong to the lecture (from German “Vorlesung”); <b>t</b> should be used for questions regarding the tutor; <b>u</b> is for questions that refer to the study groups in general (from German “Übungsgruppen”).<br/><br/>Currently there is no central place where this is controlled, it is hard coded into everywhere.</li>
    <li>Texts may be translated like this, e.g.
      <pre>text:
  :de: Oliver ist doof
  :en: Oliver is daft</pre>
    or not at all:
      <pre>text: Oliver ist doof</pre>
    In many cases the software will simply choose the right snippet.
  </ul>
</fieldset>
