<% form_for(@form) do |f| %>
  <fieldset>
    <h1>Editing form <%=h @form.name + ' in ' + @form.semester.title %></h1>
    <%= f.error_messages %>

    <table class="large_text_area">
      <% for item in
        [
          [f.label(:semester_id),  collection_select(:form, :semester_id, Semester.find(:all), :id, :title, {:prompt => true}), "required"],
          [f.label(:name),      f.text_field(:name),     "required"],
          [f.label(:content),   f.text_area(:content),   "required"],

        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>


    <p>
      <%= f.submit "Update and Preview #{@form.name}", :disable_with => "Saving&hellip;" %>
      <%= link_to 'Cancel', forms_path %>
    </p>
  </fieldset>
<% end %>

<fieldset>
  <legend>js-yaml playground</legend>
  <script type="text/javascript">
    var doc = jsyaml.load($("form_content").value);
    alert(doc);
  </script>
</fieldset>

<fieldset>
  <legend>Some helpful comments</legend>
  <ul>
    <li>In questions and their answers use \linebreak to force one and avoid \\ or \newline altogether.</li>
    <li>If you want to prevent automatic line breaks place the contents inside an \mbox{}. Be aware that this might lead to texts overlapping each other.</li>
    <li>If TeX fails with error messages that are clearly not related to your code: we are not sure why they appear, but they may usually be resolved by inserting page breaks manually or by fiddling with \vspaces.
    <li>Questions may need to be repeated for each lecturer or tutor while others may be valid for the whole course. Think of a course with two lecturers and two tutors. Do you like the course’s title? → course; Do you like «lecturer»? → lecturer; Do you like «tutor»? → tutor.</li>
    <li>Use \lect to refer to the lecturer’s full name and \lectLast to refer to his/her/its last name. NOTE: Only valid within repeat_for = lecturer</li>
    <li>Texts may be translated like this, e.g.
      <pre>text:
  :de: Oliver ist doof
  :en: Oliver is daft</pre>
    or not at all:
      <pre>text: Oliver ist doof</pre>
    In many cases the software will simply choose the right snippet.
  </ul>
</fieldset>
