<h1>Listing forms</h1>

<table>
  <tr>
    <th>Semester</th>
    <th>Name</th>
    <th>Content</th>
  </tr>

<% for form in @forms %>
  <tr>
    <td><%=h form.semester %></td>
    <td><%=h form.name %></td>
    <td><%=h form.content %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New form', new_form_path %>
