<h1>New form</h1>

<% form_for(@form) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :semester %><br />
    <%= select_tag 'form[semester_id]', options_from_collection_for_select(Semester.find(:all), :id, :title, Semester.find(:all).last.id) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forms_path %>
