<fieldset>
<h1>Form <%=h @form.name %> (<%=h @form.semester.title %>) Preview</h1>
  <%= (not @form.form_checks_out?) ? "<strong>⚠ Form is invalid</strong><br/>" : ""%>

 <table>
    <% for item in
      [
        ["Semester",      @form.semester.title],
        ["Name",          @form.name],
        ["Table",         @form.db_table]
      ]
    %>
      <tr style="background: #<%= cycle('efefef', 'fff') %>">
        <th><%=h item.shift %></th>
        <% for data in item do %> <td><%=h data %></td> <% end %>
      </tr>
    <% end %>
  </table><br/>

  <%= nav_links %>
</fieldset>

<% if @form.questions.count { |q| type == "tutor_table" } >= 2 %>
  <fieldset>
    <legend>ERROR: more than one tutor_table</legend>
    <p>You specified a tutor_table question more than once. However, it is
    currently not possible to evaluate more than one tutor per sheet. The
    software is not equipped to differentiate to which tutor a question
    belongs.</p>
    <p>If you need to evaluate more than one tutor, hand sheets out twice.</p>
  </fieldset>
<% end %>

<% if @form.has_duplicate_db_columns? %>
  <fieldset>
    <legend>ERROR: duplicate db columns</legend>
      Some of the questions have the same db column. This doesn’t make
      any sense and G'n'T Eval will break if you do not fix this.
      <table>
        <tr style="background: #<%= cycle('efefef', 'fff')%>">
          <th>db column</th><th>offending questions</th>
        </tr>
      <%
      @form.get_duplicate_db_columns.each do |col, quests|
        quests.each do |q|
      %>
        <tr style="background: #<%= cycle('efefef', 'fff')%>">
          <td><%=col%></td><td><%=q%></td>
        </tr>
      <%
        end
      end
      %>
      </table>
  </fieldset>
<% end %>

<a id="tex-image-preview"></a>
<%= render :partial => "shared/preview_big" %>


<fieldset id="tex-code-preview">
  <legend>TeX-Code used for generating the preview:</legend>
  <%= nav_links %>
  <pre style="max-width:850px; max-height:700px; overflow:scroll"><%=h form_tex_code(@form) %></pre>
  You can use this line to compile the document yourself:
  <pre><%=h Seee::Config.commands[:pdflatex_real] %> somefile.tex</pre>
</fieldset>

<fieldset id="ruby-yaml-code">
  <legend>Ruby-fied YAML Code:</legend>
  <%= nav_links %>
  <pre  style="max-width:850px; max-height:700px; overflow:scroll"><%=h (@form.is_a?(String) ? "wrong!"  : @form.pretty_abstract_form) %></pre>
</fieldset>

<fieldset>
  <%= nav_links %>
</fieldset>
