<fieldset>
<h1>Form <%=h @form.name %> (<%=h @form.semester.title %>) Preview</h1>

 <table>
    <% for item in
      [
        ["Semester",      @form.semester.title],
        ["Name",          @form.name]
      ]
    %>
      <tr style="background: #<%= cycle('efefef', 'fff') %>">
        <th><%=h item.shift %></th>
        <% for data in item do %> <td><%=h data %></td> <% end %>
      </tr>
    <% end %>
  </table>

  <p>
    <b>TeX-Code:</b>
    <pre><%=h @form.abstract_form.to_tex %></pre>
  </p>

  <p>
    <b>Content:</b>
    <pre><%=h (@form.is_a?(String) ? "wrong!"  : @form.pretty_abstract_form) %></pre>
  </p>

  <%= link_to("Edit #{@form.name}", edit_form_path(@form))+' |' unless @form.critical? %>
  <%= link_to 'List all available forms', forms_path %>
</fieldset>
