<div>
<h2>Previewing Form <%=@form.name %> (<%=@form.semester.title %>)</h2>
  <%= (not @form.form_checks_out?) ? "<strong>⚠ Form is invalid</strong><br/>".html_safe : ""%>

 <table>
    <% for item in
      [
        ["Semester",      @form.semester.title],
        ["Name",          @form.name],
        ["Table",         @form.db_table]
      ]
    %>
      <tr>
        <th><%=h item.shift %></th>
        <% for data in item do %> <td><%=h data %></td> <% end %>
      </tr>
    <% end %>
  </table><br/>

  <%= nav_links %>
</div>

<% if @form.abstract_form_valid? && @form.db_table.blank? %>
  <div>
    <h3>ERROR: db_table blank</h3>
    <p class="error">Each form needs to have a db_table specified so it’s clear where the data goes. It’s possible for two different forms to have the same database, but it’s best practice to have new tables for each form and term.</p>
  </div>
<% end %>

<% if @form.questions && @form.questions.count { |q| q.type == "tutor_table" } >= 2 %>
  <div>
    <h3>ERROR: more than one tutor_table</h3>
    <p class="error">You specified a tutor_table question more than once. However, it is
    currently not possible to evaluate more than one tutor per sheet. The
    software is not equipped to differentiate to which tutor a question
    belongs.</p>
    <p>If you need to evaluate more than one tutor, hand sheets out twice.</p>
  </div>
<% end %>

<% if @form.has_duplicate_db_columns? %>
  <div>
    <h3>ERROR: duplicate db columns</h3>
    <p class="error">Some of the questions have the same db column. This doesn’t make
    any sense and <%=APP_NAME%> will break if you do not fix this.</p>
    <table>
      <tr>
        <th>db column</th><th>offending questions</th>
      </tr>
    <%
    @form.get_duplicate_db_columns.each do |col, quests|
      quests.each do |q|
    %>
      <tr>
        <td><%=col%></td><td><%=q.strip_common_tex%></td>
      </tr>
    <%
      end
    end
    %>
    </table>
  </div>
<% end %>

<% if @form.has_questions_without_visualizer? %>
  <div>
    <h3>WARNING: questions without visualizer</h3>
    <table>
      <tr>
        <th>offending questions</th>
      </tr>
    <% @form.get_questions_without_visualizer.each do |q| %>
      <tr>
        <td><%=q.text.strip_common_tex%></td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>


<% if @form.questions %>
  <% empty_qtext = @form.questions.keep_if { |q| q.qtext.is_a?(Array) ? q.qtext.any? { |l| l.blank? } : q.qtext.blank? } %>
  <% if empty_qtext.any? %>
  <div>
    <h3>WARNING: questions without question text</h3>
    <p class="warning">The following questions have missing questions in at least one locale. If the db_column of that question is empty as well, it <i>might</i> be hard to find…</p>
    <ul>
    <% empty_qtext.each do |q| %>
      <li><%=q.db_column.blank? ? "(db column empty)".html_safe : q.db_column%></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

<% oosv = @form.find_out_of_scope_variables
unless oosv.empty?
%>
  <div>
    <h3>ERROR: Out of scope variables</h3>
      <p class="error">
        There are some variables which can be used to design the form, e.g.
        \lect to refer to the lecturer’s name. These variables may be valid
        for the whole sheet when the questions are used in the form due to
        the fact that a form is bound to a lecturer. However they are
        actually only valid for certain parts of the form. Consider
        \lect: It can only valid for questions that depend on the lecturer
        (i.e. repeat_for = lecturer). Forms should support multiple
        lecturers per course, therefore these variables cannot be used
        outside the correct repeat_for-scope.
      </p>
      <table>
        <tr style="background: #<%= cycle('efefef', 'fff')%>">
          <th>message</th>
        </tr>
      <% oosv.each do |err| %>
        <tr style="background: #<%= cycle('efefef', 'fff')%>">
          <td><%=err%></td>
        </tr>
      <% end %>
      </table>
  </div>
<% end %>

<a id="tex-image-preview"></a>
<%= render "shared/preview_ajax", :preview_url => preview_form_path(@form) %>


<div id="tex-code-preview">
  <h3>TeX-Code used for generating the preview</h3>
  <%= nav_links %>
  <pre><%=form_tex_code(@form) || "Your form is invalid. Please fix the errors first." %></pre>
  <br/>
  You can use this line to compile the document yourself:
  <pre><%=Seee::Config.commands[:pdflatex_real] %> somefile.tex</pre>
</div>

<div id="ruby-yaml-code">
  <h3>Ruby-fied YAML Code</h3>
  <%= nav_links %>
  <pre><%=(@form.is_a?(String) ? "wrong!"  : @form.pretty_abstract_form) %></pre>
</div>

<div>
  <%= nav_links %>
</div>
