<p>
  <b>Semester:</b>
  <%=h @form.semester.title %>
</p>

<p>
  <b>Name:</b>
  <%=h @form.name %>
</p>

<p>
  <b>Content:</b><pre>
  <%=h @form.pretty_abstract_form %></pre>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
