<fieldset>
<h1>Form <%=h @form.name %> (<%=h @form.semester.title %>) Preview</h1>
  <%= (not @form.abstract_form_valid?) ? "<strong>⚠ Form is invalid</strong><br/>" : ""%>

 <table>
    <% for item in
      [
        ["Semester",      @form.semester.title],
        ["Name",          @form.name],
        ["Table",         @form.db_table]
      ]
    %>
      <tr style="background: #<%= cycle('efefef', 'fff') %>">
        <th><%=h item.shift %></th>
        <% for data in item do %> <td><%=h data %></td> <% end %>
      </tr>
    <% end %>
  </table><br/>

  <%= nav_links %>
</fieldset>

<a id="tex-image-preview"></a>
<%= render :partial => "shared/preview_big" %>


<fieldset id="tex-code-preview">
  <legend>TeX-Code used for generating the preview:</legend>
  <%= nav_links %>
  <pre style="max-width:850px; max-height:700px; overflow:scroll"><%=h @form.abstract_form.to_tex %></pre>
  You can use this line to compile the document yourself:
  <pre><%=h Seee::Config.commands[:pdflatex_real] %> somefile.tex</pre>
</fieldset>

<fieldset id="ruby-yaml-code">
  <legend>Ruby-fied YAML Code:</legend>
  <%= nav_links %>
  <pre  style="max-width:850px; max-height:700px; overflow:scroll"><%=h (@form.is_a?(String) ? "wrong!"  : @form.pretty_abstract_form) %></pre>
</fieldset>

<fieldset>
  <%= nav_links %>
</fieldset>
