<%= render "shared/aceify_textareas", :line_offset => texpreview_header_offset %>

<% # can’t change anything while critical, so don’t load JS %>
<%= render "form_lang_select" unless @course.critical? %>

<%= form_for(@course) do |f| %>
  <%
    links = %(<div class="button-group">)
    links << (f.submit "Update and Preview", :disable_with => "Saving…", :class => "button primary")
    links << (link_to "Discard and Preview", @course, :class => "button")
    links << %(</div>)
    links = links.html_safe
  %>

  <div class="group">
    <h2>Editing <%=@course.title %></h2>
    <%= render "shared/error_messages", :model => @course %>
    <%=links%>
    <br style="clear:both"/>

    <table style="float:left;min-width:50%;">
      <tr><th colspan="3" style="font-size:120%">master data</th></tr>
      <% [[f.label(:title),                             f.text_field(:title), "required"],
          [f.label(:semester),
              if @course.critical?
                "#{@course.semester.title} (can't change this while critical)"
              else
                collection_select(:course, :semester_id, Semester.all.reverse, :id, :title, {:prompt => true})
              end, "required"],
          [f.label(:faculty, :for=>"course_faculty_id"),collection_select(:course, :faculty_id, Faculty.find(:all), :id, :longname, {:prompt => true}), "required"],
          [f.label(:form),
              if @course.critical?
                "#{@course.form.name} (can't change this while critical)"
              else
                collection_select(:course, :form_id, Form.all, :id, :name, {:prompt => true}, {:onchange => "updateLanguages(this);" })
              end, "required"],
          [f.label(:language),
              if @course.critical?
                "#{@course.language} (can't change this while critical)"
              else
                collection_select(:course, :language, all_langs, :to_sym, :to_s)
              end, "required"],
          [f.label(:students),                          f.text_field(:students), "numeric"],
          [f.label(:note),                              f.text_field(:note) + %(<span class="hint">Small note/hint to be added right below the headline in result.pdf</span>).html_safe]
        ].each do |item| %>
        <tr>
          <th><%=item.shift%></th>
          <td><%=item.shift%></td>
          <td><%=item.shift%></td>
        </tr>
      <% end %>
    </table>

    <table style="float:left;margin-left:2em;">
      <tr><th colspan="2" style="font-size:120%">adminstrative data</th></tr>
      <% [[f.label(:evaluator, "Evaluated by"),         f.text_field(:evaluator)],
          [f.label(:fscontact, "Account Name OR Mail"),  f.text_field(:fscontact) + %(<span class="hint">may be omitted if “Evaluated by” is the account name</span>).html_safe],
          [f.label(:description),                       f.text_field(:description) + %(<span class="hint">Multi-use field (date, status, etc.)</span>).html_safe]
        ].each do |item| %>
        <tr>
          <th><%=item.shift%></th>
          <td><%=item.shift%></td>
        </tr>
      <% end %>
    </table>
    <% content_for :script do %>
      <script>
        $(document).ready(function() {
          $("#course_evaluator").bind("blur change keyup", function() {
            var v = $(this).val().trim().toLowerCase();
            var v = v.length == 0 ? "" : v + "@<%=j Seee::Config.settings[:standard_mail_domain]%>";
            $("#course_fscontact").attr("placeholder", v);
          }).blur();
        });
      </script>
    <% end %>
  </div>

  <div class="group">
    <h3>Comments</h3>
    (This is <%=latex_logo%>-enabled! Be careful when using % or $ signs. Use proper UTF-8 quotes, e.g. „Deutsch“ or “English”)<br/>
    <%= f.text_area(:summary, :style => 'width:99%')%>
  </div>

  <div class="group">
    <h3>Scanned comments</h3>
    <div class="commentview">
      <% @course.course_profs.each do |cp| %>
        <% if cp.c_pics.empty? %>
          <span>NO COMMENTS for <%=h cp.prof.fullname %></span>
          <% next %>
        <% end %>

        <span>for <%=cp.prof.fullname %>:</span>
        <% cp.c_pics.each do |p| %>
          <figure><span><img src="<%=comment_image_link %>/<%=@course.semester.dirfriendly_title + '/' + p.basename %>" /></span></figure>
        <% end %>
        <br/>
      <% end %>
      <span class="end">end of comments</span>
    </div>
  </div>

  <div class="group">
    <%=links%>
  </div>
<% end %>
