
<h1>Editing course</h1>

<%= error_messages_for :course %>

<% form_for(@course) do |f| %>
  <p>
    <b>Semester</b><br />
    <%= collection_select(:course, :semester_id, Semester.find(:all), :id, :title, {:prompt => true}) %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Students</b><br />
    <%= f.text_field :students %>
  </p>
  <p>
    <b>Evaluated by</b><br />
    <%= f.text_field :evaluator %>
  </p>
  <p>
    <b>FS contact (email):</b><br />
    <%= f.text_field :fscontact %>
  </p>
  <p>
    <b>Form</b><br />
    <%= f.select('form', @course.form_name_to_id) %>
  </p>
  <p>
    <b>Description (date etc)</b><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <b>Faculty</b><br />
    <%= collection_select(:course, :faculty_id, Faculty.find(:all), :id, :longname, {:prompt => true}) %>
  </p>
  <p>
    <b>Summary</b> (This is LaTeX-enabled! Be careful when using % or $ signs. Use LaTeX quotes, i.e. &#8222;quote&#8220; or "`quote"')<br />
    <%= f.text_area :summary%>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

  <div style="width:100%;height:200px;overflow:scroll">
<% for cp in @course.course_profs %>
   Für <%= cp.prof.fullname %>:<br/>
  <% for p in cp.c_pics %>
    <img src="http://mathphys.fsk.uni-heidelberg.de/~eval/.comments/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" " /><br/>
  <% end %><br/><br/>
<% end %>
    <hr color="#f00">
  </div>

<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
