<%= render "shared/main_menu" %>

<% # can’t change anything while critical, so don’t load JS %>
<% unless @course.critical? %>
<%= render :partial => "courses/form_lang_select" %>
<% end %>

<% form_for(@course) do |f| %>
  <fieldset>
    <h1>Editing course <%=h @course.title %></h1>
    <%= error_messages_for :course %>

    <p>
      <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;" %>
      <%= link_to "Cancel", @course %>
    </p>
  </fieldset>

  <fieldset>
    <legend>main details</legend>
    <table>
      <% for item in
        [
          [f.label(:semester_id),
              if @course.critical?
                "#{@course.semester.title} (can't change this while critical)"
              else
                collection_select(:course, :semester_id, Semester.all.reverse, :id, :title, {:prompt => true})
              end, "required"],
          [f.label(:title),                             f.text_field(:title), "required"],
          [f.label(:students),                          f.text_field(:students), "required, numeric. If you absolutely must, use 999 for “don't know”"],
          [f.label(:form_id),
              if @course.critical?
                "#{@course.form.name} (can't change this while critical)"
              else
                collection_select(:course, :form_id, Form.all, :id, :name, {:prompt => true}, {:onchange => "updateLanguages(this);" })
              end, "required"],
          [f.label(:language),
              if @course.critical?
                "#{@course.language} (can't change this while critical)"
              else
                collection_select(:course, :language, all_langs, :to_sym, :to_s)
              end, "required"],
          [f.label(:evaluator, "Evaluated by"),         f.text_field(:evaluator)],
          [f.label(:fscontact, "FS Account OR Email"),  f.text_field(:fscontact), "may be omitted if “Evaluated by” is the account name"],
          [f.label(:description),                       f.text_field(:description), "Multi-use field (date, status, etc.)"],
          [f.label(:faculty_id),                        collection_select(:course, :faculty_id, Faculty.find(:all), :id, :longname, {:prompt => true}), "required"],
          [f.label(:note),                              f.text_field(:note), "Small note/hint to be added right below the headline in result.pdf"]
        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>
  </fieldset>


  <fieldset>
    <legend>Comments</legend>
    <p>(This is LaTeX-enabled! Be careful when using % or $ signs. Use proper UTF-8 quotes, i.e. &#8222;Deutsch&#8220; or &#8220;English&#8221;)</p>
    <%= f.text_area(:summary, :style => 'width:99%')%>
  </fieldset>

  <fieldset>
    <legend>Scanned comments</legend>
    <div class="commentview">
      <% for cp in @course.course_profs %>
        <% if cp.c_pics.empty? %>
          <span>NO COMMENTS for <%=h cp.prof.fullname %></span>
          <% next %>
        <% end %>

        <span>for <%=h cp.prof.fullname %>:</span>
        <% for p in cp.c_pics %>
          <img style="border-left:2em solid #<%= cycle('efefef', 'bfbfbf') %>"
            src="<%=h comment_image_link %>/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" />
          <br/>
        <% end %>
        <br/>
      <% end %>
      <span style="background:#f00;color:#fff">end of comments</span>
    </div>
  </fieldset>

  <fieldset>
    <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;" %>
    <%= link_to "Cancel", @course %>
  </fieldset>
<% end %>
