
<h1>Editing course</h1>

<%= error_messages_for :course %>

<% form_for(@course) do |f| %>
  <p>
    <b>Semester</b><br />
    <%= collection_select(:course, :semester_id, Semester.find(:all), :id, :title, {:prompt => true}) %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Students</b><br />
    <%= f.text_field :students %>
  </p>
  <p>
    <b>Evaluated by</b><br />
    <%= f.text_field :evaluator %>
  </p>
  <p>
    <b>FS contact (email):</b><br />
    <%= f.text_field :fscontact %>
  </p>
  <p>
    <b>Form</b><br />
    <%= f.select('form', {'Seminarbogen' => 3, 'Englischer Bogen' => 2, 'Spezialbogen'=> 1, 'Normaler Bogen' => 0}) %>
  </p>
  <p>
    <b>Description (date etc)</b><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <b>Faculty</b><br />
    <%= f.select('faculty', {'Mathe/Info' => 0, 'Physik'=> 1}) %>
  </p>
  <p>
    <b>Summary</b><br />
    <%= f.text_area :summary%>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% for p in @course.c_pics %>
<img src="http://mathphys.fsk.uni-heidelberg.de/~eval/.tutcomments/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" width="1000" /><br/>
<% end %>

<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
