<% content_for :title, "“#{@course.title}”" %>
<% content_for :enable_small_screen, "true" %>
<% content_for :css, "#print#{@course.id} { width: 16rem }" %>


<div>
  <ul>
    <li>Click and hold for five seconds to start printing.</li>
    <li>Prints <%=@amount%> sheets for each prof: <%=@course.profs.map { |p| p.fullname }.join(", ")%></li>
    <li>If you need more than <%=@amount%> sheets, wait until the page reloads, then click again.</li>
  </ul><br/>
  <%= render 'shared/hold_button', :url => course_emergency_printing_path(@course), :name => "print #{@course.course_profs.size}×#{@amount} sheets NOW", :id => "print#{@course.id}", :button => true %>

  <%=link_to "return to course", @course, :class => "button" %>
</div>
