<h1>Listing courses of <%=h Semester.find(:all).find{|s| s.now?}.title %></h1>
<p>
  <%= link_to 'New course', new_course_path %> |
  <%= link_to 'New Prof', new_prof_path %> |
  <%= link_to 'New semester', new_semester_path %>
</p>

<table>
  <tr>
    <th>Semester</th>
    <th>Title</th>
    <th>Students</th>
    <th>Evaluated by</th>
    <th>Profs</th>
    <th>Description</th>
    <th>Faculty</th>
  </tr>

<% for course in @courses.find_all{|c| c.semester.now? }.sort_by { |c| c.title } %>
  <tr style="<%= cycle('background: #efefef', 'background:#ffffff') %>">
    <td><%=h course.semester.title %></td>
    <td><%= link_to course.title, course %></td>
    <td><%=h course.students %></td>
    <td><%=h course.evaluator %></td>
    <td><%=h course.profs.map { |p| p.fullname + " " } %></td>
    <td><%=h course.description %></td>
    <td><%=h course.faculty.shortname %></td>
<!--    <td><%= link_to 'Show', course %></td>-->
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New course', new_course_path %> |
<%= link_to 'New Prof', new_prof_path %> |
<%= link_to 'New semester', new_semester_path %>

