<% content_for :enable_small_screen, "true" %>

<div>
  <h2>Courses in <%=Term.currently_active.map { |t| t.title }.join(", ")%></h2>

  <div class="button-group rd-hide">
    <%=link_to 'Create new Course', new_course_path, :class => "button"%>
    <%=link_to 'Show courses from other terms', terms_path, :class => "button"%>
  </div>
  <span class="rd-hide"><br/><br/></span>

  <%=render "shared/tablemagic", :search => true %>
  <table id="tablemagic" style="min-width:70em; width:100%" class="rd-hide-2 rd-hide-3 rd-hide-4 rd-hide-6">
    <thead>
    <tr>
      <% ["Title", "Students", "Evaluated by", "Profs", "Description", "Faculty"].each do |x| %>
        <th><%=x%></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr<%=@matches && !@matches.include?(course) ? %( style="display:none").html_safe : "" %>>
          <td>
            <% unless course.no_censoring? %>
              <span title="Parts of this course will be censored." style="cursor:help">☹</span>
            <% end %>
            <%  xx = course.enough_censored_parts_in_comments?
              unless  %>
              <span>Censoring broken. Fix it!</span>
            <% end %>
            <%= link_to course.title.truncate(50), course, :title => course.title %>
          </td>
          <td><%=course.students || "MISSING" %></td>
          <td><%=course.evaluator %></td>
          <td><%=course.profs.collect { |p| p.lastname }.join(", ") %></td>
          <td><%=course.description %></td>
          <td><%=course.faculty.shortname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <div class="button-group">
    <%=link_to 'Create new Course', new_course_path, :class => "button"%>
    <%=link_to 'Show courses from other terms', terms_path, :class => "button"%>
  </div>
</div>
