<%= render "shared/main_menu" %>

<fieldset>
  <h1>Listing courses of <%=h @curr_sem.map { |c| c.title }.join(", ") %></h1>

  <div style="float:left">
    <%= link_to 'New course', new_course_path %>
  </div>

<% if params[:search] %>
  <div style="float:right;margin-left:1em;">
    <%= link_to 'Show all', courses_path %>
  </div>
<% end %>

  <% form_tag courses_path, :method => 'get', :style=>"float:right" do %>
    <%= text_field_tag :search, params[:search], :placeholder => "Filter by title…", :type => "search" %>
    <%= submit_tag "Filter", :name => nil %>
  <% end %>
</fieldset>

<!-- didn't put the table in a fieldset because the horizontal space is too valuable -->
<table style="margin-top:1em;">
  <tr>
    <% ["Title", "Students", "Evaluated by", "Profs", "Description", "Faculty"].each do |x| %>
    <th <%= sort_class(x) %>>
        <%= sort_link(x) %>
    </th>
    <% end %>
  </tr>

<%
courses = sort_helper(@courses)

for course in courses %>
  <tr style="background: #<%= cycle('efefef', 'fff') %>">
    <td><%= link_to course.title, course %></td>
    <td style="color: <%= course.students == 999 ? "red" : "black" %>"><%=h course.students %></td>
    <td><%=h course.evaluator %></td>
    <td><%=h course.profs.collect { |p| p.fullname }.join(", ") %></td>
    <td><%=h course.description %></td>
    <td><%=h course.faculty.shortname %></td>
  </tr>
<% end %>
</table>

<fieldset>
  <p>
    <%= link_to 'New course', new_course_path %> |
    <%= link_to 'New Prof', new_prof_path %> |
    <%= link_to 'New semester', new_semester_path %>
  </p>
</fieldset>
