<% links = %(
  <div class="button-group">
    #{link_to 'Create new Course', new_course_path, :class => "button"}
    #{link_to 'Create new Professor', new_prof_path, :class => "button"}
    #{link_to 'Create new Term', new_semester_path, :class => "button"}
  </div>).html_safe %>

<div>
  <h2>Available courses</h2>

  <%=links %>

<%=render "shared/tablemagic", :search => true %>
<table id="tablemagic" style="min-width:70em; width:100%">
  <thead>
  <tr>
    <% ["Title", "Students", "Evaluated by", "Profs", "Description", "Faculty"].each do |x| %>
      <th><%=x%></th>
    <% end %>
  </tr>
  </thead>

<%

@courses.each do |course| %>
  <tr>
    <td><%= link_to course.title, course %></td>
    <td><%=course.students || "MISSING" %></td>
    <td><%=course.evaluator %></td>
    <td><%=course.profs.collect { |p| p.lastname }.join(", ") %></td>
    <td><%=course.description %></td>
    <td><%=course.faculty.shortname %></td>
  </tr>
<% end %>
</table>

<div>
  <%= links %>
</div>
