<h1>New course</h1>

<%= error_messages_for :course %>

<% form_for(@course) do |f| %>
  <p>
    <b>Semester</b><br />
    <%= select_tag 'course[semester_id]', options_from_collection_for_select(Semester.find(:all), :id, :title, Semester.find(:all).last.id) %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Students</b><br />
    <%= f.text_field :students %>
  </p>

  <p>
    <b>Evaluated by</b><br />
    <%= f.text_field :evaluator %>
  </p>
  <p>
    <b>FS contact (@mathphys added automagically)</b><br />
    <%= f.text_field :fscontact %>
  </p>
  <p>
    <b>Form</b><br />
    <%= f.select('form', {'Seminarbogen' => 3, 'Englischer Bogen' => 2, 'Spezialbogen'=> 1, 'Normaler Bogen' => 0}, :selected => 0) %>
  </p>
  <p>
    <b>Description (date etc)</b><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <b>Faculty</b><br />
    <%= select_tag 'course[faculty_id]', options_from_collection_for_select(Faculty.find(:all), :id, :shortname) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', courses_path %>
