<%= render "courses/form_lang_select" %>

<%= form_for(@course) do |f| %>
  <div class="group">
    <h2>Create new course</h2>
    <%= render "shared/error_messages", :model => @semester %>

    <table>
      <% for item in
        [
          [f.label(:semester_id),                       f.collection_select(:semester_id, Semester.all.reverse, :id, :title, {}, {:onchange => "updateSelectors();" }), "required"],
          [f.label(:title),                             f.text_field(:title), "required"],
          [f.label(:students),                          f.text_field(:students), "numeric"],
          [f.label(:form_id),                           f.collection_select(:form_id, Form.all, :id, :name, {}, {:onchange => "updateSelectors();" }), "required"],
          [f.label(:language),                          f.collection_select(:language, all_langs, :to_sym, :to_s), "required"],
          [f.label(:evaluator, "Evaluated by"),         f.text_field(:evaluator)],
          [f.label(:fscontact, "FS Account OR Email"),  f.text_field(:fscontact), "may be omitted if “Evaluated by” is the account name"],
          [f.label(:description),                       f.text_field(:description), "Multi-use field (date, status, etc.)"],
          [f.label(:faculty_id),                        f.collection_select(:faculty_id, Faculty.all, :id, :longname), "required"]
        ]
      %>
        <tr>
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>

    <div class="button-group">
      <%= f.submit "Create new course", :disable_with => "Saving…", :class => "button primary" %>
      <%= link_to "Cancel", Course, :class => "button" %>
    </div>
  </div>
<% end %>
