<%= render "shared/main_menu" %>
<fieldset>
  <h1>Previewing <%=@course.title %></h1>
  <%= courseShowLink %>
  <%= courseEditLink %>
</fieldset>

<%= render :partial => "shared/preview_big", :locals => {:text => @course.summary } %>
