<%= render "shared/main_menu" %>

<fieldset>
<h1><%=h @course.title %> (<%=h @course.semester.title %>)</h1>
<%= courseLinksForShowPage %>
</fieldset>


<fieldset>
  <legend>main details</legend>
  <table>
    <% for item in
      [
        ["Semester",      h(@course.semester.title)],
        ["Title",         h(@course.title)],
        ["Students",      h("#{@course.students} (returned sheets: #{@course.returned_sheets})")],
        ["Form",          link_to("#{@course.form.name} (language: #{@course.language})", @course.form)],
        ["Evaluated by",  h(@course.evaluator)],
        ["FS Account",    h(@course.fscontact)],
        ["Email",         mail_to(@course.fs_contact_addresses)],
        ["Description",   h(@course.description)],
        ["Faculty",       h(@course.faculty.longname)]
      ]
    %>
      <tr style="background: #<%= cycle('efefef', 'fff') %>">
        <th><%=h item.shift %></th>
        <% for data in item do %> <td><%=data %></td> <% end %>
      </tr>
    <% end %>
  </table>
</fieldset>

<fieldset>
  <legend>Comments Preview</legend>
  <div class="preview">
    <%= render :partial => "shared/preview" %>
  </div>
  <p><%= link_to 'Show preview in full', { :action => 'preview', :id => @course} %></p>
</fieldset>

<fieldset <%=@course.profs.empty? ? "class=\"attention\"" : "" %>>
  <legend>Profs</legend>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Barcode</th>
    </tr>
    <% @course.profs.uniq.each do |prof| %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%= link_to prof.fullname, {:controller => "profs", :action => "edit", :id => prof } %></td>
      <td><%=h prof.email %></td>
      <td><%=h @course.course_profs.find(:first, :conditions => { :prof_id => prof.id }).id.to_s %></td>
      <% unless @course.critical? %>
        <td style="padding-left:4em"><%= link_to 'Destroy', { :action => 'drop_prof', :id => @course, :prof_id => prof},
          :confirm => "Really remove #{prof.fullname}? Don't continue if sheets have been printed.", :method => :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <p>
    <% form_for :course, @course, :url => { :action => 'add_prof', :id => @course } do |f| %>
    <%= collection_select(:courses, :profs, Prof.find(:all, :order => 'surname'), :id, :surnamefirst) %>
    <%= submit_tag 'Add' %>
    <%= link_to 'Create New Prof', new_prof_path %>
    <% end %>
  </p>
</fieldset>


<fieldset>
  <legend>Tutors</legend>
  <table>
    <tr>
      <th>Name</th>
      <th># Comments</th>
      <th># Sheets</th>
      <th></th>
    </tr>
    <% for tutor in @course.tutors %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%= link_to tutor.abbr_name, edit_tutor_path(tutor) %></td>
      <td style="text-align:center"><%= tutor.pics.count %></td>
      <td style="text-align:center"><%= tutor.returned_sheets %></td>
      <% unless tutor.critical? %>
        <td><%= link_to 'Destroy', {:controller => 'tutors', :id => tutor,
          :course_id => @course.id, :action => 'destroy'},
          :confirm => "Really remove tutor #{tutor.abbr_name}? (Order changes after destruction. Don't continue if sheets have been printed.)",
          :method => :delete %></td>
      <% else %>
        <td title="Tutor is critical because the course is critical OR the course has returned sheets">⚠</td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <p>
    <%= render :partial => @tutor = Tutor.new, :locals => { :button_name => 'Add Tutor(s)' } %>
  </p>
</fieldset>

<fieldset>
<%= courseLinksForShowPage %>
</fieldset>
