<% content_for :enable_small_screen, "true" %>
<% content_for :title, "“#{@course.title}”" %>

<div>
  <div class="rd-hide">
    <h2><%=@course.title %> (<%=@course.term.title %>)</h2>
    <%= courseLinksForShowPage %>
    <br style="clear:both"/>
  </div>

  <table class="two-tables-left">
    <tr><th colspan="2" style="font-size:120%">master data</th></tr>
    <%
      comment_link = link_to "#{@course.c_pics.size} comments (#{number_to_percentage(@course.c_pics.size/@course.returned_sheets.to_f*100, :precision => 0)})", (edit_course_path(@course) + "#commentfield")
      comment_returned = "#{@course.returned_sheets} returned (#{number_to_percentage(@course.return_quota*100, :precision => 0)})"
      spacer = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
      stud_returned = "#{@course.students} #{spacer} #{comment_returned} #{spacer} #{comment_link}".html_safe
    %>
    <% for item in [
        [:title,    @course.title],
        [:term,     link_to(@course.term.title, edit_term_path(@course.term))],
        [:faculty,  link_to(@course.faculty.longname, edit_faculty_path(@course.faculty))],
        [:form,     link_to("#{@course.form.name} (language: #{@course.language})", @course.form)],
        [:students, @course.returned_sheets? ? stud_returned : @course.students],
        [:note,     @course.note]] %>
      <tr>
        <th><%=Course.human_attribute_name(item.shift) %></th>
        <% item.each { |d| %> <td><%=d %></td> <% } %>
      </tr>
    <% end %>
  </table>

  <table class="two-tables-right">
    <tr><th colspan="2" style="font-size:120%">adminstrative data</th></tr>
    <% for item in [
        [:evaluator,      @course.evaluator],
        [:fscontact,      @course.fscontact],
        [:email,          @course.fs_contact_addresses_array.map { |a| mail_to(a) }.join(", ").html_safe],
        [:description,    @course.description]] %>
      <tr>
        <th><%=Course.human_attribute_name(item.shift) %></th>
        <% item.each { |d| %> <td><%=d %></td> <% } %>
      </tr>
    <% end %>
    <% unless @course.mails_sent.blank? %>
      <tr>
        <th><%=Course.human_attribute_name(:mails_sent) %></th>
        <td><%=@course.mails_sent%></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="rd-hide">
  <h3><%=latex_logo%> Preview</h3>
  <div class="preview">
    <%= render "shared/preview", :text => @course.summary %>
  </div>
  <%= link_to 'Show preview in full', preview_course_path(@course), :class => "button" %>
</div>


<div>
  <h3>Professors</h3>
  <% if @course.profs.empty? %><span class="warning">No professors have been specified so far. The course cannot be evaluated and no sheets will be printed until at least one professor is added.</span><% end %>

  <table class="rd-hide-2 rd-hide-3 rd-hide-4">
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>ID/Barcode</th>
      <th>Agreed?</th>
      <th colspan="3">Actions</th>
    </tr>
    <% @course.course_profs.each do |cp| %>
    <tr>
      <td><%=link_to cp.prof.fullname, edit_prof_path(cp.prof) %></td>
      <td><%=cp.prof.email %></td>
      <td><%=cp.id %></td>
      <td><%=cp.prof.agreed? ? "yes" : "" %></td>
      <td>
        <% if @course.returned_sheets? %>
          <%="Can’t print, has returned sheets."%>
        <% else %>
          <%= render 'shared/hold_button', :url => print_course_prof_path(cp), :name => "print (evil)", :id => "print#{cp.id}" %>
        <% end %>
      </td>
      <% unless @course.critical? %>
        <td class="rd-hide">
          <%= link_to 'Destroy', { :action => 'drop_prof', :id => @course, :prof_id => cp.prof},
          :confirm => "Really remove #{cp.prof.fullname}? Don't continue if sheets have been printed.", :method => :delete %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <div class="rd-hide"><%=render "add_prof"%></div>
</div>


<div>
  <h3>Tutors</h3>
  <% unless @course.tutors.empty? %>
    <table>
      <tr>
        <th>Name</th>
        <th># Comments</th>
        <th># Sheets</th>
        <th class="rd-hide">Actions</th>
      </tr>
      <% @course.tutors.each do |tutor| %>
      <tr>
        <td><%= link_to tutor.abbr_name, edit_course_tutor_path(@course, tutor) %></td>
        <td style="text-align:right"><%= tutor.pics.count %></td>
        <td style="text-align:right"><%= tutor.returned_sheets %></td>
        <td class="rd-hide">
        <% unless tutor.critical? %>
          <%= link_to 'Destroy', {:controller => 'tutors', :id => tutor,
            :course_id => @course.id, :action => 'destroy'},
            :confirm => "Really remove tutor #{tutor.abbr_name}? (Order changes after destruction. Don't continue if sheets have been printed.)",
            :method => :delete %></td>
        <% end %>
        <% if tutor.returned_sheets >= Seee::Config.settings[:minimum_sheets_required] %>
          <a class="hold"
            data-time="5"
            data-onlyonce="true"
            data-post="<%= form_authenticity_token%>"
            data-url="<%=course_tutor_result_pdf_path(tutor.course, tutor)%>"><noscript>(needs JS)</noscript> result.pdf (slow)</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <div class="rd-hide">
      <%= render @tutor = Tutor.new, :button_name => 'Add Tutor(s)' %>
    </div>
</div>

<div>
  <%= courseLinksForShowPage %>
</div>
