<%= courseLinksForShowPage %>

<p>
  <b>Semester:</b>
  <%=h @course.semester.title %>
</p>

<p>
  <b>Title:</b>
  <%=h @course.title %>
</p>

<p>
  <b>Students:</b>
  <%=h @course.students %> (returned sheets: <%=h @course.getReturnedSheets %>)
</p>

<p>
  <b>Form:</b>
  <%=h @course.form_id_to_name[@course.form] %>
  (ID: <%=h @course.form %>)
</p>

<p>
  <b>Evaluated by:</b>
  <%=h @course.evaluator %>
</p>

<p>
  <b>FS contact (email, @mathphys is added automatically if address lacks @):</b>
  <%=h @course.fscontact %>
</p>

<p>
  <b>gonna write emails to:</b>
  <%=h @course.fs_contact_addresses %>
</p>
<p>
  <b>Description:</b>
  <%=h @course.description %>
</p>

<p>
  <b>Faculty:</b>
  <%=h @course.faculty.longname %>
</p>

<p>
  <b>Summary:</b>
  <fieldset>
      <iframe style="width:100%;height:10em;" src="<%= url_for({ :action => 'preview', :id => @course, :quiet => "yes"}) %>"></iframe>
  <%= link_to 'Show preview in full', { :action => 'preview', :id => @course} %>
  </fieldset>
</p>
<p>
  <fieldset>
  <b>Profs:</b>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <% for prof in @course.profs.uniq %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%=h prof.fullname %></td>
      <td><%=h prof.email + ' (' + @course.course_profs.find(:first, :conditions => { :prof_id => prof.id }).id.to_s + ')' %></td>
      <% unless @course.semester.critical? %>
        <td style="padding-left:4em"><%= link_to 'Destroy', { :action => 'drop_prof', :id => @course, :prof_id => prof},
          :confirm => "Really remove #{prof.fullname}? Don't continue if sheets have been printed.", :method => :delete %></td>
      <% end %>
    </tr>
    <% end %>
    </table>
  <% form_for :course, @course, :url => { :action => 'add_prof', :id => @course } do |f| %>
  <%= collection_select(:courses, :profs, Prof.find(:all, :order => 'surname'), :id, :surnamefirst) %>
  <%= submit_tag 'Add' %>
  <%= link_to 'Create New Prof', new_prof_path %>
  <% end %>
  </fieldset>
</p><!--
<p>
  <fieldset>
    <b>Emails:</b>
    <ul>
      <li><%= link_to 'Email an <em>alle</em> Profs dieser
               Veranstaltung senden, dass sie an Description
               evaluiert werden', { :id => @course, :action =>
               'send_ankuendigungsmail'}, :confirm => "Ganz
               ganz sicher? Es gehen wirkliche richtige Emails
               raus!" %></li>
      <li><%= link_to 'Email an den Evaluator', { :action =>
    'send_ankuendigungsmail', :id => @course }, :confirm =>
    'Es wird eine richtige Email versendet!'  %></li>
    </ul>
  </fieldset>
</p>-->
<p>
  <fieldset>
  <b>Tutors</b>
  <table>
    <tr>
      <th>Name</th>
      <th># Comments</th>
      <th># Sheets</th>
      <th></th>
    </tr>
    <% for tutor in @course.tutors %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%= link_to tutor.abbr_name, edit_tutor_path(tutor) %></td>
      <td style="text-align:center"><%= tutor.pics.count %></td>
      <td style="text-align:center"><%= tutor.sheetcount %></td>
      <% unless @course.semester.critical? %>
        <td><%= link_to 'Destroy', {:controller => 'tutors', :id => tutor,
          :course_id => @course.id, :action => 'destroy'},
          :confirm => "Really remove tutor #{tutor.abbr_name}? (Order changes after destruction. Don't continue if sheets have been printed.)",
          :method => :delete %></td>
      <% end %>
    </tr>
    <% end %>
    </table>

    <%= render :partial => @tutor = Tutor.new, :locals => { :button_name => 'Add' } %>
    </fieldset>
</p>

<%= courseLinksForShowPage %>
