<div>
  <h2><%=@course.title %> (<%=@course.semester.title %>)</h2>
  <%= courseLinksForShowPage %>
  <br style="clear:both"/>

  <table style="float:left;min-width:50%;">
    <tr><th colspan="2" style="font-size:120%">master data</th></tr>
    <% comment_link = link_to "comments: #{@course.c_pics.size}", (edit_course_path(@course) + "#commentfield") %>
    <% for item in [
        [:title,         @course.title],
        [:semester,      link_to(@course.semester.title, edit_semester_path(@course.semester))],
        [:faculty,       link_to(@course.faculty.longname, edit_faculty_path(@course.faculty))],
        [:form,          link_to("#{@course.form.name} (language: #{@course.language})", @course.form)],
        [:students,      "#{@course.students} (returned sheets: #{@course.returned_sheets}; #{comment_link})".html_safe],
        [:note,          @course.note]] %>
      <tr>
        <th><%=Course.human_attribute_name(item.shift) %></th>
        <% item.each { |d| %> <td><%=d %></td> <% } %>
      </tr>
    <% end %>
  </table>

  <table style="float:left;margin-left:2em;">
    <tr><th colspan="2" style="font-size:120%">adminstrative data</th></tr>
    <% for item in [
        [:evaluator,      @course.evaluator],
        [:fscontact,      @course.fscontact],
        [:email,          mail_to(@course.fs_contact_addresses)],
        [:description,    @course.description]] %>
      <tr>
        <th><%=Course.human_attribute_name(item.shift) %></th>
        <% item.each { |d| %> <td><%=d %></td> <% } %>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <h3><%=latex_logo%> Preview</h3>
  <div class="preview">
    <%= render "shared/preview", :text => @course.summary %>
  </div>
  <%= link_to 'Show preview in full', preview_course_path(@course), :class => "button" %>
</div>


<div>
  <h3>Professors</h3>
  <% if @course.profs.empty? %><span class="warning">No professors have been specified so far. The course cannot be evaluated and no sheets will be printed until at least one professor is added.</span><% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>ID/Barcode</th>
      <th colspan="<%=@course.critical? ? 1 : 2%>">Actions</th>
    </tr>
    <% @course.course_profs.each do |cp| %>
    <tr>
      <td><%=link_to cp.prof.fullname, edit_prof_path(cp.prof) %></td>
      <td><%=cp.prof.email %></td>
      <td><%=cp.id %></td>
      <td>
        <% if @course.returned_sheets? %>
          <%="Can’t print, has returned sheets."%>
        <% else %>
          <%= render 'shared/hold_button', :url => print_course_prof_path(cp), :name => "print (evil)", :id => "print#{cp.id}" %>
        <% end %>
      </td>
      <% unless @course.critical? %>
        <td>
          <%= link_to 'Destroy', { :action => 'drop_prof', :id => @course, :prof_id => cp.prof},
          :confirm => "Really remove #{cp.prof.fullname}? Don't continue if sheets have been printed.", :method => :delete %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <%=render "add_prof"%>
</div>


<div>
  <h3>Tutors</h3>
  <table>
    <tr>
      <th>Name</th>
      <th># Comments</th>
      <th># Sheets</th>
      <th>Actions</th>
    </tr>
    <% for tutor in @course.tutors %>
    <tr>
      <td><%= link_to tutor.abbr_name, edit_course_tutor_path(@course, tutor) %></td>
      <td style="text-align:right"><%= tutor.pics.count %></td>
      <td style="text-align:right"><%= tutor.returned_sheets %></td>
      <td>
      <% unless tutor.critical? %>
        <%= link_to 'Destroy', {:controller => 'tutors', :id => tutor,
          :course_id => @course.id, :action => 'destroy'},
          :confirm => "Really remove tutor #{tutor.abbr_name}? (Order changes after destruction. Don't continue if sheets have been printed.)",
          :method => :delete %></td>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>

    <%= render @tutor = Tutor.new, :button_name => 'Add Tutor(s)' %>
</div>

<div>
  <%= courseLinksForShowPage %>
</div>
