<h1>Editing tutor</h1>
<%= tutorShowLink %> | <%= tutorReturnLink %>

<%= error_messages_for :tutor %>

<% form_for([@course, @tutor]) do |f| %>
  <p>
    <b>Abbr name</b><br />
    <%= f.text_field :abbr_name %>
  </p>

  <p>
    <b>Comment</b> (This is LaTeX-enabled! Be careful when using % or $ signs. Use LaTeX quotes, i.e. &#8222;quote&#8220; or "`quote"')<br/>
    <%= f.text_area(:comment, :style => 'width:99%')%>
  </p>
  <p>
    <%= f.submit "Update and Preview" %>
  </p>

  <div class="commentview">
<% for p in @tutor.pics %>
    <img src="http://mathphys.fsk.uni-heidelberg.de/~eval/.comments/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" /><br/>
<% end %>
    <hr color="#f00">
  </div>
<% end %>

<%= tutorShowLink %> | <%= tutorReturnLink %>
