<% content_for :title, "“#{@tutor.abbr_name}”" %>
<%= render "shared/aceify_textareas", :line_offset => texpreview_header_offset %>

<%= form_for([@course, @tutor]) do |f| %>
  <div class="group">
    <h2>Editing <%=@tutor.abbr_name%></h2>

    <div class="button-group">
      <%= f.submit "Save and Preview", :disable_with => "Saving…", :class => "button primary" %>
      <%= link_to "Cancel", @tutor.course, :class => "button" %>
      <%= render "shared/error_messages", :model => @tutor %>
    </div>

    <table style="width:100%" class="large_text_area">
      <tr>
        <th><%=Tutor.human_attribute_name("abbr_name")%></th>
        <td><%= f.text_field :abbr_name %></td>
      </tr>
      <tr>
        <th><%=f.label(:censor)%></th>
        <td><%=f.enum_select(:censor)%></td>
        <td>required. <i>Unknown</i> means <i>none</i>, but a warning will be issued. Setting may be overwritten if prof’s censor mode is <i>everything</i>.</td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>
          (This is <%=latex_logo%>-enabled! Be careful when using % or $ signs. Use proper UTF-8 quotes, e.g. „Deutsch“ or “English”)
          <%= f.text_area(:comment, :style => 'width:99%')%>
        </td>
      </tr>
    </table>
  </div>

  <div class="group">
    <h3>Scanned comments</h3>
    <div class="commentview">
      <% @tutor.pics.each do |p| %>
        <%= render "shared/comment_pic", :course => @course, :pic => p %>
      <% end %>
      <span class="end">end of comments</span>
    </div>
    Hint: if comments are cut off, click-and-hold for one second to download the original sheet.
  </div>

  <div class="group">
    <div class="button-group">
      <%= f.submit "Save and Preview", :disable_with => "Saving…".html_safe, :class => "button primary" %>
      <%= link_to "Cancel", @tutor.course, :class => "button" %>
    </div>
  </div>

<% end %>
