<%= render "shared/aceify_textareas", :line_offset => texpreview_header_offset %>

<%= form_for([@course, @tutor]) do |f| %>
  <div class="group">
    <h2>Editing <%=@tutor.abbr_name%></h2>

    <div class="button-group">
      <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;", :class => "button primary" %>
      <%= link_to "Cancel", @tutor.course, :class => "button" %>
      <%= render "shared/error_messages", :model => @tutor %>
    </div>

    <table style="width:100%" class="large_text_area">
      <tr>
        <th><%=Tutor.human_attribute_name("abbr_name")%></th>
        <td><%= f.text_field :abbr_name %></td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>
          (This is <%=latex_logo%>-enabled! Be careful when using % or $ signs. Use proper UTF-8 quotes, e.g. „Deutsch“ or “English”)
          <%= f.text_area(:comment, :style => 'width:99%')%>
        </td>
      </p>

            </tr>
    </table>
  </div>

  <div class="group">
    <h3>Scanned comments</h3>
      <div class="commentview">
        <% for p in @tutor.pics %>
          <figure><span><img src="<%=comment_image_link %>/<%=@course.semester.dirfriendly_title + '/' + p.basename %>"></span></figure>
        <% end %>
        <span class="end">end of comments</span>
      </div>
  </div>

  <div class="group">
    <div class="button-group">
      <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;".html_safe, :class => "button primary" %>
      <%= link_to "Cancel", @tutor.course, :class => "button" %>
    </div>
  </div>

<% end %>
