<%= render "shared/main_menu" %>
<%= render :partial => "shared/aceify_textareas", :locals => {:line_offset => texpreview_header_offset }  %>

<% form_for([@course, @tutor]) do |f| %>

<fieldset>
  <h1>Editing tutor</h1>
  <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;" %> | <%= link_to "Cancel", @tutor.course %>
  <%= render "shared/error_messages", :model => @tutor %>

  <table style="margin-top:2em">
    <tr style="background:#efefef">
      <th>Abbr name</th>
      <td><%= f.text_field :abbr_name %></td>
    </tr>
  </table>

</fieldset>

<fieldset>
  <legend>Comments</legend>
    <p>(This is LaTeX-enabled! Be careful when using % or $ signs. Use proper UTF-8 quotes, i.e. &#8222;Deutsch&#8220; or &#8220;English&#8221;)</p>
      <%= f.text_area(:comment, :style => 'width:99%')%>
    </p>
</fieldset>

<fieldset>
  <legend>Scanned comments</legend>
    <div class="commentview">
  <% for p in @tutor.pics %>
      <img
        style="border-left:2em solid #<%= cycle('efefef', 'bfbfbf') %>"
        src="<%=h comment_image_link %>/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" /><br/>
  <% end %>
      <span style="background:#f00;color:#fff">end of comments</span>
    </div>

</fieldset>

<fieldset>
  <%= f.submit "Update and Preview", :disable_with => "Saving&hellip;" %> | <%= link_to "Cancel", @tutor.course %>
</fieldset>

<% end %>
