<div>
  <h2>Available Tutors</h2>

  <%=render "shared/tablemagic"%>
  <table id="tablemagic" style="min-width:60em">
    <thead>
      <tr>
        <th><%=Tutor.human_attribute_name("abbr_name")%></th>
        <th>Course</th>
        <th>Semester</th>
      </tr>
    </thead>
    <tbody>
    <% for tutor in @tutors %>
      <tr>
        <td><%= link_to tutor.abbr_name, [tutor.course, tutor] %></td>
        <td><%= link_to tutor.course.title, tutor.course %></td>
        <td><%=h tutor.course.semester.title %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
