<%= render "shared/main_menu" %>
<fieldset>
  <h1>Previewing <%=@tutor.abbr_name %></h1>
  <%= tutor_return_link %>
  <%= tutor_edit_link %>
</fieldset>

<%= render :partial => "shared/preview_big", :locals => {:text => @tutor.comment} %>
