<p>
  <b>Course:</b>
  <%=h @tutor.course.title %>
</p>

<p>
  <b>Abbr name:</b>
  <%=h @tutor.abbr_name %>
</p>

<p>
  <b>Comment</b><br/>
  <%=h @tutor.comment %>
</p>

<% for p in @tutor.pics %>
<img src="http://mathphys.fsk.uni-heidelberg.de/~eval/.comments/<%=h @course.semester.dirfriendly_title + '/' + p.basename %>" width="1000" /><br/>
<% end %>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', Course.find(@tutor.course_id) %>
