<div>
  <h2>Showing <%=@tutor.abbr_name%></h2>
  <div class="button-group"><%=tutor_edit_link + tutor_return_link %></div>
  <br/>
  <br/>

  <b style="font-size:120%"><%=@tutor.abbr_name%></b><br/>
  <%=@tutor.course.title%><br/>
  <%=@tutor.returned_sheets%> returned sheets<br/>
  <%=@tutor.pics.count%> comments
</div>

<div>
  <h3>Comments preview</h3>

  <div class="preview">
    <%= render "shared/preview", :text => @tutor.comment %>
  </div>
</fieldset>

<div>
  <div class="button-group">
    <%= link_to 'Show preview in full', { :action => 'preview', :id => @tutor}, :class => "button primary" %>
    <%=tutor_edit_link + tutor_return_link %>
  </div>
</div>
