<a
  title="Click and hold for five seconds to activate."
  class="hold <%=defined?(button) && button ? "button" : ""%>"
  data-time="5"
  data-group="<%=id%>"
  data-onlyonce="true"
  data-post="<%= form_authenticity_token%>"
  data-url="<%=url%>"><noscript>(needs JS)</noscript> <%=name%></a>
