<% @curr_sem ||= Semester.all.find{ |s| s.now? } %>

<fieldset class="main_menu">
  <legend><b>main menu</b></legend>
  <%= link_to 'Courses', 	    :controller => "courses",     :action => "index" %> |
  <%= link_to 'Professors', 	:controller => "profs", 	    :action => "index" %> |
  <%= link_to 'Semesters', 	  :controller => "semesters",   :action => "index" %> |
  <%= link_to 'Forms', 		    :controller => "forms", 	    :action => "index" %> |
  <%= link_to 'Faculties', 		:controller => "faculties", 	:action => "index" %> |
  <%= link_to 'Tutors', 		  :controller => "tutors", 	    :action => "index" %>

  <span style="float:right">&nbsp;<%=h @curr_sem.nil? ? "no semester currently active" : @curr_sem.title %></span>

  <% if @course && @course.semester && @course.semester.critical? %>
    <span class="warning">Careful, sheets for this course have been printed.</span>
  <% end %>

  <% if (@course.nil? || @course.semester.nil?) && @curr_sem && @curr_sem.critical? %>
    <span class="warning">Careful, current semester is critical.</span>
  <% end %>
</fieldset>
