<div class="group">
  <h2>Edit <%=h @prof.fullname %></h2>
  <%= render "form", :submit_text => "Save changes" %>
</div>

<div class="group">
  <h2>Courses associated with <%=h @prof.fullname %></h2>
  <% if @prof.course_profs.empty? %>
    There are no associated courses.
  <% else %>
    <%= render "shared/tablemagic" %>
    <table id="tablemagic" style="min-width:50em">
      <thead>
        <tr>
          <th>Term</th>
          <th>Form</th>
          <th>Language</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      <%
        @prof.course_profs.includes(:term, :course, :form).order("terms.id DESC, courses.title").each do |cp| %>
        <% next if cp.course.nil? %>
        <tr>
          <td><%=cp.course.term.title %></td>
          <td><%=link_to cp.course.form.name, cp.course.form if cp.course.form %></td>
          <td><%=cp.course.language %></td>
          <td><%=link_to cp.course.title, cp.course %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
