<h1>Listing profs</h1>

<%= link_to 'Return to course list', :controller => "courses", :action => "index" %> |
<%= link_to 'New Prof', new_prof_path %>
<br />

<table>
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Gender</th>
  </tr>

<% for prof in @profs %>
  <tr>
    <td><%=h prof.firstname %></td>
    <td><%=h prof.surname %></td>
    <td><%=h prof.email %></td>
    <td><%=h prof.gender %></td>
    <td><%= link_to 'Show', prof %></td>
    <td><%= link_to 'Edit', edit_prof_path(prof) %></td>
  </tr>
<% end %>
</table>



