<fieldset>
  <h1>Listing profs</h1>

  <%= link_to 'New Prof', new_prof_path %>
</fieldset>

<fieldset>
  <table>
    <tr>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>

  <% for prof in @profs %>
    <tr style="background: #<%= cycle('efefef', 'fff') %>">
      <td><%=h prof.firstname %></td>
      <td><%=h prof.surname %></td>
      <td><%= mail_to prof.email %></a></td>
      <td><%=h prof.gender %></td>
      <td><%= link_to "Edit #{prof.fullname}", edit_prof_path(prof) %></td>
      <td><%= link_to('Destroy', {:controller => 'profs', :id => prof, :action => 'destroy'},
          :confirm => "Really delete prof #{prof.fullname}?",
          :method => :delete) unless prof.critical? %></td>
    </tr>
  <% end %>
  </table>
</fieldset>
