<fieldset>
  <h1>New prof</h1>
  <%= error_messages_for :prof %>

  <% form_for(@prof) do |f| %>
    <table>
      <% for item in
        [
          [f.label(:firstname), f.text_field(:firstname), "required"],
          [f.label(:surname),   f.text_field(:surname),   "required"],
          [f.label(:email),     f.text_field(:email)],
          [f.label(:gender),    select_tag("prof[gender]", options_for_select({ "female" => 0, "male" => 1}, (@prof.gender.to_s == 'male' ? 1 : 0))), "required"]

        ]
      %>
        <tr style="background: #<%= cycle('efefef', 'fff') %>">
          <th><%= item.shift %></th>
          <td><%= item.shift %></td>
          <% for data in item do %> <td><%=h data %></td> <% end %>
        </tr>
      <% end %>
    </table>

    <p>
      <%= f.submit "Create Prof", :disable_with => "Saving&hellip;" %>
      <%= link_to 'Cancel', profs_path %>
    </p>
  <% end %>
</fieldset>
