<% content_for :css, ".broken, .broken * { color: red }" %>
<% content_for :css, ".itworks, .itworks * { color: darkgreen }" %>
<% content_for :css, ".unknown, .unknown * { color: orange }" %>
<% content_for :script, javascript_include_tag("viewer_count") %>
<% content_for :script do %>
<script>
  function setStatus(object, worked) {
    $("#" + object.toLowerCase())
      .attr("class", (worked ? "itworks" : "broken"))
      .html((worked ? "✔" : "✘")+ " <b>"+object+" </b>");
  }

  function updateUsername() {
    if(usernameValid())
      $("#currentUsername").html("(currently known as <b>" + getUsernameCookie() + "</b>)");
    else
      $("#currentUsername").html("(no username set)");
  }

  function giveWork() {
    if($('.broken').size() !== 0) {
      alert("Please fix the issues mentioned above before continuing.");
      return;
    }

    location.href = "<%=hitme_assign_work_url%>";
  }

  $(document).ready(function() {
    if(getCookie("testcookie") === "test value" || usernameValid()) {
      setStatus("Cookies", true);
    } else {
      document.cookie = "testcookie=test value; expires=Thu, 31 Dec 2020 23:59:59 GMT; path=/"
      $.getJSON("<%=url_for(:controller => "hitmes", :action => "cookie_test")%>",  function(result) {
        setStatus("Cookies", result);
      });

    }

    updateUsername();
    setStatus("Username", usernameValid());
  });
</script>
<% end %>

<div>
  <h2>What is this?</h2>
  Each Hitme is a <b>small unit of work</b>. It requires <b>no time commitment</b> on your side, so you can even do it in very short breaks. You don’t even need to finish if you’re interrupted.<br><br>
  There are multiple steps:
  <ol>
    <li>type handwritten comment</li>
    <li>proofread</li>
    <li>group/sort comments</li>
    <li>final touches</li>
  </ol><br/>

  The last two steps might take more than five minutes, depending on the lecture. If you don’t have that amount of time right now, you can skip this chunk of work and be assigned another one. Or you could start, but mark it as incomplete and leave it for the next person to finish. Just click the correct button below each hitme.
</div>

<div>
  <h2>What do I need?</h2>

  <span class="noscript broken"><b>✘ JavaScript </b></span> – Ensure JavaScript is enabled for the whole domain and that you don’t block any of its features.<script>$(".noscript").attr("class", "itworks").html("✔ <b>JavaScript </b>");</script><br/>

  <span id="cookies" class="unknown"><b>? Cookies </b></span> – Enable cookies for the domain. Persistent ones are preferred, so you only need to set your username once.<br/>

  <span id="username" class="unknown"><b>? Username </b></span> – Set a descriptive username, so others may easily identify who is working on what.<br/><br/>

  <a onclick="setUsernameCookie(); setStatus('Username', usernameValid()); updateUsername();"><b>Change Username</b></a>
  <span id="currentUsername"></span><br/><br/>

  <a onclick="giveWork();" style="font-size:120%;font-weight:bold">Give me a chunk of work</a>
</div>


<div>
  <h2>Active Users</h2>
  <% sessions = Session.where(:cont => ["cpics", "pics", "courses"]) %>
  <% if sessions.none? %>
    No active users currently.
  <% else %>
    <table>
      <tr><th>User</th><th>at it for</th><th>last ping</th><th colspan="3">working on</th></tr>
      <% sessions.each do |s| %>
        <%
          c = nil
          step = nil
          course = nil
          details = nil
          case s.cont
            when "cpics" then
              c = CPic.find(s.viewed_id)
              details = c.for
            when "pics" then
              c = Pic.find(s.viewed_id)
              details = c.for
            when "courses" then
              c = Course.find(s.viewed_id)
              step = c.get_hitme_step
              course = c
              details = "profs / course comment"
            when "tutors" then
              c = Tutor.find(s.viewed_id)
              step = Hitme::COMBINING
              details = "tutor #{c.abbr_name}"
            else
              logger.debug "hitme type of #{s.cont} not implemented. Cannot preview this."
          end
          step ||= c.step
          course ||= c.course


          # fixme: handle final check??
        %>
        <tr>
          <td><%=s.username%></td>
          <td><%=time_ago_in_words(s.created_at)%></td>
          <td><%=time_ago_in_words(s.updated_at, true)%> ago</td>
          <td><%=Hitme.step_to_text(step) %></td>
          <td><%=course.title %></td>
          <td><%=details%></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div>
  <h3>Progress</h3>
  It’s assumed amount of work scales linearly with number of comments, so take it with a grain of salt.<br/>
  Also, there are about <b><%=Term.sheets_to_go.first.to_i%> questionnaires left to process</b>, which are not included below.
  <%
    stages = [Hitme::TYPING, Hitme::PROOFREADING, Hitme::COMBINING, Hitme::FINALCHECK, Hitme::DONE]
    data = stages.map { |s| Hitme.get_all_comments_by_step(s).size }
    all = data.sum.to_f

    def n(d, all)
      number_to_percentage( 100*d/all, :precision => 0)
    end
  %>
  <table>
    <tr><th>typing          </th><td><%=n(all-data[0]        , all)%></td><td rowspan="4" style="font-size:400%;padding-left:2rem"> Σ=<%=n((data[1] + 2*data[2] + 3*data[3] + 4*data[4])/4.0, all)%></td></tr>
    <tr><th>proofreading    </th><td><%=n(all-data[0]-data[1], all)%></td></tr>
    <tr><th>grouping/sorting</th><td><%=n(data[3]+data[4]    , all)%></td></tr>
    <tr><th>final touching  </th><td><%=n(data[4]            , all)%></td></tr>
  </table>
</div>
